/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "f-b";
  src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "f-bo";
  src: url("../fonts/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "f-d";
  src: url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "c-b";
  src: url("../fonts/Circular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "fut-b";
  src: url("../fonts/Futura Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "pr-r";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pr-sb";
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "pr-b";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "g-eb";
  src: url("../fonts/gilroy-extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 28px;
  margin: 0 auto;
  font-family: "f-b";
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 3.4375em;
  line-height: 0.95;
  font-family: "c-b"; }

h2 {
  font-size: 2.5em;
  font-family: "c-b";
  line-height: 1.13; }

h3 {
  font-size: 1.5em;
  font-family: "c-b";
  line-height: 1.21; }

p {
  font-size: 1em;
  line-height: 1.31; }

.wrapper {
  max-width: 920px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }

@media (max-width: 768px) {
  body {
    font-size: 14px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0); }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.button {
  text-decoration: none;
  color: inherit;
  font-family: "f-d";
  display: inline-block;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 26px;
  padding-right: 26px;
  box-sizing: border-box;
  border: 2px solid black;
  transition: 0.2s ease; }
  .button:hover {
    opacity: 0.8;
    background-color: #22dc9e;
    color: #ffffff;
    border-color: #22dc9e; }
  .button:active {
    opacity: 0.6;
    transform: scale(0.95); }
  .button--mint {
    background-color: #22dc9e;
    color: #ffffff;
    border-color: #22dc9e; }

.link {
  display: inline-block;
  color: .link br-mint;
  font-family: "f-d";
  font-size: 16px;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  color: #22dc9e;
  transition: 0.2s ease; }
  .link:hover {
    opacity: 0.7; }
  .link:active {
    opacity: 0.6;
    transform: scale(0.95); }
  .link::before {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 52%;
    transform: translate(0, -50%) rotate(180deg);
    width: 12px;
    height: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/raster/back-icon.png");
    background-size: cover;
    background-position: center; }

.shadow {
  position: relative; }
  .shadow::before {
    display: block;
    content: "";
    width: 100%;
    height: 187px;
    position: absolute;
    left: 50%;
    bottom: -42px;
    background-image: url("../img/raster/shadow.png");
    background-size: 100%;
    transform: translateX(-50%);
    z-index: -1; }

.header-decorated {
  position: relative; }
  .header-decorated::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -33px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: bottom center; }
  .header-decorated--mic::before {
    background-image: url("../img/vector/mic-icon.svg"); }
  .header-decorated--user::before {
    background-image: url("../img/vector/user-icon.svg"); }
  .header-decorated--location::before {
    background-image: url("../img/vector/location-icon.svg"); }
  .header-decorated--calendar::before {
    background-image: url("../img/vector/calendar-icon.svg"); }
  .header-decorated--ticket::before {
    background-image: url("../img/vector/ticket-icon.svg"); }

.blur-shadow {
  position: relative; }
  .blur-shadow::before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    width: 120%;
    height: 80%;
    max-width: 540px;
    max-height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    border-radius: 2.4px;
    -webkit-filter: blur(29px);
    filter: blur(29px);
    background-color: rgba(63, 63, 63, 0.17); }

.blur-shadow-bottom {
  position: relative; }
  .blur-shadow-bottom::before {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    width: 95%;
    height: 80%;
    max-height: 120px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
    border-radius: 2.4px;
    -webkit-filter: blur(29px);
    filter: blur(29px);
    background-color: rgba(63, 63, 63, 0.3); }

.play-button {
  position: relative;
  cursor: pointer; }
  .play-button::before {
    display: block;
    content: "";
    width: 52px;
    height: 52px;
    background-image: url("../img/vector/play-icon.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: 0.2s ease;
    cursor: pointer; }
  .play-button:hover:before {
    opacity: 0.8; }
  .play-button:active:before {
    opacity: 0.6;
    transform: translate(-50%, -50%), scale(0.96); }

.text--mint {
  color: #22dc9e; }

.text--l-blue {
  color: #afe2e3; }

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 71px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  transition: 0.3s all; }
  .overlay--speaker {
    top: 0;
    background-color: rgba(0, 0, 0, 0.2); }

.overlay.active {
  opacity: 1;
  visibility: visible; }

.overlay.active--2 {
  opacity: 1;
  visibility: visible;
  top: 0; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 30;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
  overflow-y: auto; }

.modal.active {
  opacity: 1;
  visibility: visible; }

.modal__cross {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer; }
  .modal__cross:hover {
    fill: #22dc9e;
    transform: scale(1.2); }
  .modal__cross:active {
    fill: #14845f;
    transform: scale(0.9); }

.nav__wrapper {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom-right-radius: 80px; }
  .nav__wrapper::before {
    top: 80%; }

.nav__logo {
  align-self: center;
  margin-left: 29px;
  margin-top: 9px; }

.nav__menu {
  display: flex;
  list-style: none;
  font-family: "fut-b";
  padding: 0;
  margin: 0; }
  .nav__menu a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding-top: 36px;
    padding: 36px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 17px;
    transition: 0.2s ease; }
    .nav__menu a:hover {
      opacity: 0.6; }
    .nav__menu a:active {
      opacity: 0.5;
      transform: scale(0.95); }

.nav__buy {
  margin-left: 20px; }
  .nav__buy a {
    background-color: #22dc9e;
    color: #ffffff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 22px;
    padding-right: 35px; }
    .nav__buy a:hover {
      opacity: 0.8; }

.nav__burger {
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
  z-index: 20;
  transition: 0.2s ease; }
  .nav__burger::before, .nav__burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 0 0 #333333, 0 16px 0 0 #333333;
    transition: 0.2s ease; }

.nav__burger--close {
  font-size: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  transition: 0.2s ease; }
  .nav__burger--close::before, .nav__burger--close::after {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: none;
    transition: 0.2s ease; }
  .nav__burger--close::after {
    transform: translate(-50%, -50%) rotate(-45deg); }

@media (max-width: 1024px) {
  .nav__wrapper {
    padding-left: 0;
    padding-right: 0;
    border-bottom-right-radius: 0px; }
  .nav__item a {
    padding-left: 15px;
    padding-right: 15px; }
  .nav__buy {
    margin-left: 0; } }

@media (max-width: 768px) {
  .nav__wrapper {
    position: relative;
    background-color: white; }
  .nav__menu {
    display: none; }
  .nav__burger {
    display: block;
    margin-right: 29px; }
  .nav__menu--open {
    display: block;
    width: 100%;
    position: absolute;
    top: 69px;
    left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.3);
    animation: 0.3s menuOpen ease; }
    .nav__menu--open .nav__item a {
      display: block;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 30px;
      padding-right: 30px; }
    .nav__menu--open .nav__buy {
      max-width: 150px;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center; }
      .nav__menu--open .nav__buy a {
        padding-top: 16px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px; }
  @keyframes menuOpen {
    from {
      transform: translateY(-200px);
      opacity: 0; }
    to {
      transform: translateY(0px);
      opacity: 1; } } }

@media (max-width: 425px) {
  .nav__logo {
    margin-left: 20px; }
  .nav__burger {
    margin-right: 20px; }
  .nav__menu--open .nav__item a {
    padding-left: 20px;
    padding-right: 20px; } }

.footer {
  padding-top: 20px;
  padding-bottom: 23px; }
  .footer__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__logo {
    position: relative;
    top: 5px; }
  .footer__links {
    font-size: 13px; }
    .footer__links a {
      color: inherit;
      text-decoration: none;
      font-family: "pr-r";
      font-size: 13px;
      line-height: 2;
      display: inline-block;
      padding: 5px; }
  .footer__link {
    transition: 0.2s ease;
    margin-left: 32px; }
    .footer__link:hover {
      opacity: 0.8; }
    .footer__link:active {
      opacity: 0.6;
      transform: scale(0.95); }
  .footer__copy {
    font-family: "pr-r";
    font-size: 13px;
    line-height: 2;
    margin-left: 30px; }

@media (max-width: 768px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px; }
    .footer__links {
      margin-bottom: 5px;
      flex-wrap: wrap; }
    .footer__link {
      margin-left: 10px; }
    .footer__copy {
      margin-left: 10px;
      padding: 5px; }
    .footer__logo {
      width: 120px; } }

@media (max-width: 620px) {
  .footer {
    padding-bottom: 6px; }
    .footer__wrapper {
      flex-direction: column; }
    .footer__links {
      display: flex;
      justify-content: center;
      margin-top: 17px; }
      .footer__links a {
        padding: 0; }
    .footer__link {
      margin-left: 0; }
    .footer__copy {
      width: 100%;
      text-align: center;
      padding: 0;
      margin-left: 0; }
    .footer__link {
      width: 100%;
      text-align: center; } }

@media (max-width: 525px) {
  .footer__links {
    flex-direction: column; } }

.banner {
  margin-top: 130px;
  margin-top: 100px; }
  .banner__header {
    margin-bottom: 42px; }
  .banner__img {
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

@media (max-width: 768px) {
  .banner {
    margin-top: 80px; }
    .banner__header {
      margin-bottom: 30px; }
    .banner__img {
      min-height: 250px; } }

@media (max-width: 425px) {
  .banner {
    margin-top: 75px; }
    .banner__header {
      margin-bottom: 25px; }
    .banner__img {
      min-height: 220px; } }

.news-letter {
  padding-top: 60px;
  padding-bottom: 65px;
  background-image: url("../img/vector/news-letter-background.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .news-letter__header {
    text-align: center;
    display: block;
    margin-top: 0px;
    margin-bottom: 22px; }
  .news-letter__form {
    margin: 0 auto;
    max-width: 565px;
    width: 100%;
    display: flex; }
  .news-letter__input {
    width: calc(100% - 90px);
    display: block;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
    border: none; }
    .news-letter__input::placeholder {
      color: rgba(0, 0, 0, 0.35); }
  .news-letter__submit {
    flex-shrink: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 15px;
    padding-right: 24px;
    font-size: 16px;
    font-family: "f-d"; }

@media (max-width: 1024px) {
  .news-letter {
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: top left; } }

.promo1 {
  margin-top: 160px;
  background-color: #ffffff; }
  .promo1__wrapper {
    display: flex;
    background-color: #ffffff; }
    .promo1__wrapper::before {
      max-width: 105%;
      left: 48%;
      top: 85%;
      background-color: rgba(63, 63, 63, 0.33); }
  .promo1__block {
    width: 50%; }
  .promo1__header {
    margin-bottom: 20px; }
  .promo1__text {
    font-family: "pr-sb";
    line-height: 1.51;
    font-size: 17px; }
  .promo1__link {
    margin-top: 6px;
    margin-left: 11px; }
  .promo1__picture {
    max-width: 213px;
    margin: 0 auto;
    margin-top: 10px; }
    .promo1__picture img,
    .promo1__picture svg {
      display: block; }

@media (max-width: 768px) {
  .promo1 {
    margin-top: 90px; }
    .promo1__picture {
      max-width: 140px;
      margin-top: 40px; }
    .promo1__block:nth-child(1) {
      padding-bottom: 40px;
      width: 70%; }
    .promo1__block:nth-child(2) {
      margin-top: auto;
      width: 30%; } }

@media (max-width: 768px) {
  .promo1__link {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px; } }

.partners {
  margin-top: 71px; }
  .partners__header {
    font-size: 15px;
    color: #7a7a7a;
    line-height: 1.19;
    text-align: center;
    font-family: "pr-r";
    margin-bottom: 15px; }
  .partners__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; }

@media (max-width: 1024px) {
  .partners__wrapper {
    flex-wrap: wrap;
    justify-content: space-around; }
    .partners__wrapper img {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 25px;
      display: block;
      text-align: center; }
      .partners__wrapper img:last-child {
        margin-bottom: 0; } }

.about-section {
  margin-top: 100px; }
  .about-section__wrapper {
    display: flex; }
  .about-section__block {
    width: 43%; }
    .about-section__block:nth-child(2) {
      width: 57%; }
  .about-section__header {
    max-width: 200px;
    margin-bottom: 19px; }
  .about-section__text {
    max-width: 300px;
    margin-bottom: 30px; }
  .about-section__card {
    padding-top: 23px;
    padding-left: 54px;
    padding-right: 24px;
    padding-bottom: 26px;
    background-color: #ffffff;
    color: #333333;
    margin-bottom: 35px;
    max-width: 395px;
    position: relative;
    border-radius: 2.4px; }
    .about-section__card::before {
      display: block;
      content: "";
      position: absolute;
      z-index: -1;
      width: 120%;
      height: 80%;
      max-width: 540px;
      max-height: 180px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.35;
      border-radius: 2.4px;
      -webkit-filter: blur(29px);
      filter: blur(29px);
      background-color: rgba(63, 63, 63, 0.17); }
    .about-section__card-header {
      margin-top: 0;
      margin-bottom: 5px;
      font-family: "pr-b"; }
    .about-section__card-text {
      margin-top: 8px;
      margin-bottom: 5px; }
    .about-section__card--1 {
      margin-top: 6px;
      margin-left: 47px; }
      .about-section__card--1::before {
        max-width: 509px;
        max-height: 224px;
        top: 65%;
        left: 55%; }
    .about-section__card--2::before {
      top: 60%;
      left: 55%; }

@media (max-width: 1024px) {
  .about-section {
    overflow: hidden; } }

@media (max-width: 768px) {
  .about-section {
    margin-top: 50px; }
    .about-section__wrapper {
      flex-wrap: wrap; }
    .about-section__block {
      width: 100%; }
      .about-section__block:nth-child(2) {
        width: 100%;
        margin-top: 30px; }
    .about-section__header {
      max-width: 250px; }
    .about-section__text {
      max-width: 400px; }
    .about-section__card--1 {
      margin-left: auto; } }

.pillars {
  position: relative; }
  .pillars::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 210px;
    background-image: url("../img/vector/pillars-decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 42px;
    z-index: -1; }
  .pillars__header {
    margin-bottom: 15px; }
  .pillars__desc {
    max-width: 300px; }
  .pillars__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px; }
  .pillars__item {
    max-width: 210px;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-top: 30px;
    align-self: flex-start;
    box-sizing: border-box; }
    .pillars__item:nth-child(2n + 2) {
      margin-top: 20px;
      border-top-right-radius: 65px; }
    .pillars__item:nth-child(2n + 1) {
      border-top-left-radius: 65px; }
    .pillars__item:nth-child(4n + 4) {
      margin-top: 30px; }
    .pillars__item--blue {
      background-color: #0b007b;
      color: #ffffff; }
    .pillars__item--mint {
      background-color: #22dc9e;
      color: #ffffff; }
    .pillars__item--white {
      background-color: #ffffff;
      color: #000000; }
      .pillars__item--white::before {
        min-height: 120%;
        top: 60%; }
    .pillars__item--aqua {
      background-color: #afe2e3;
      color: #000000; }
      .pillars__item--aqua::before {
        min-height: 100%;
        top: 70%; }
      .pillars__item--aqua .pillars__icon svg {
        position: relative;
        left: 58%;
        transform: translateX(-50%); }
  .pillars__icon {
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 13px;
    position: relative; }
    .pillars__icon svg {
      width: 100%;
      height: 100%; }
  .pillars__title {
    font-size: 18px;
    font-family: "f-d";
    display: block; }
  .pillars__text {
    margin-top: 3px;
    line-height: 1.33;
    line-height: 1.5; }

.pillars--home-page {
  margin-top: 40px; }

.pillars--about-page {
  margin-bottom: 115px; }

@media (max-width: 960px) {
  .pillars {
    overflow: hidden; }
    .pillars::before {
      background-size: 1200px;
      top: 50%;
      transform: translateY(-50%);
      bottom: initial; }
    .pillars__wrapper {
      flex-wrap: wrap;
      justify-content: space-around; }
    .pillars__item {
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 0px;
      margin-left: calc((50% - 210px) / 2);
      margin-right: calc((50% - 210px) / 2); }
      .pillars__item:nth-child(4n + 4) {
        margin-top: 0px; }
      .pillars__item:nth-child(2n + 2) {
        margin-top: 0; }
      .pillars__item--aqua::before {
        top: 48%; }
      .pillars__item--white::before {
        top: 42%; } }

@media (max-width: 525px) {
  .pillars__item {
    margin-left: 20px;
    margin-right: 20px; }
  .pillars--about-page {
    margin-bottom: 40px; }
    .pillars--about-page .pillars__wrapper {
      margin-top: 20px; } }

.team {
  margin-top: 57px; }
  .team__header {
    margin-bottom: 15px; }
  .team__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px; }
  .team__user {
    max-width: 200px;
    margin-right: calc((100% - 200px * 4) / 3);
    margin-bottom: 63px;
    cursor: pointer;
    transition: 0.2s ease; }
    .team__user img {
      transform: scale(1.02); }
    .team__user:nth-child(4n + 4) {
      margin-right: 0; }
    .team__user:hover .team__userpic img {
      transition: 0.2s ease;
      transform: scale(1.1); }
    .team__user:hover .team__name,
    .team__user:hover .team__position {
      opacity: 0.8;
      transition: 0.2s ease; }
    .team__user:active {
      transform: scale(0.98);
      opacity: 0.8; }
  .team__userpic {
    border-radius: 50%;
    max-height: 200px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    left: -1px;
    box-shadow: 3px 3px 0px #22dc9e; }
  .team__name {
    display: block;
    text-align: center;
    font-family: "f-d";
    color: #000000;
    margin-top: 18px; }
  .team__position {
    display: block;
    text-align: center; }

.team--home-page {
  padding-bottom: 38px; }

.team--speakers-page {
  margin-top: 90px;
  padding-bottom: 35px; }
  .team--speakers-page .team__user {
    margin-bottom: 62px; }

@media (max-width: 1024px) {
  .team__wrapper {
    justify-content: space-around; }
  .team__user {
    margin-right: 0;
    margin-right: 10px;
    margin-left: 10px; }
    .team__user:nth-child(4n + 4) {
      margin-right: 10px;
      margin-left: 10px; } }

@media (max-width: 768px) {
  .team__wrapper {
    margin-top: 40px; }
  .team__user {
    max-width: 150px;
    margin-bottom: 30px; }
  .team__userpic {
    max-height: 150px; }
  .team--speakers-page {
    margin-top: 60px; }
    .team--speakers-page .team__user {
      margin-bottom: 30px; } }

@media (max-width: 425px) {
  .team__wrapper {
    margin-top: 30px; }
  .team__user {
    max-width: 120px;
    margin-bottom: 20px; }
  .team__userpic {
    max-height: 120px; }
  .team--speakers-page {
    margin-top: 60px; }
    .team--speakers-page .team__user {
      margin-bottom: 20px; } }

.about-event {
  background-image: url("../img/raster/about-event-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding-top: 80px; }
  .about-event__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 950px; }
  .about-event__block {
    width: 50%; }
    .about-event__block:nth-child(2) {
      padding-left: 110px;
      box-sizing: border-box; }
  .about-event__card-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .about-event__card-item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 41px;
    padding-top: 32px;
    padding-right: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin-bottom: 18px; }
    .about-event__card-item:nth-child(1) {
      max-width: 220px;
      margin-right: 19px;
      width: 43.8%;
      border-bottom-left-radius: 40px; }
      .about-event__card-item:nth-child(1)::before {
        top: 75%;
        left: 70%;
        width: 120%;
        height: 120%; }
    .about-event__card-item:nth-child(2) {
      max-width: 233px;
      width: 51%;
      border-top-right-radius: 55px;
      padding-left: 51px; }
      .about-event__card-item:nth-child(2)::before {
        top: 70%;
        left: 60%; }
    .about-event__card-item:nth-child(3) {
      margin-left: auto;
      margin-right: 15px;
      border-bottom-right-radius: 55px;
      max-width: 233px;
      width: 51%;
      padding-left: 51px; }
      .about-event__card-item:nth-child(3)::before {
        top: 70%;
        left: 60%;
        width: 160%; }
  .about-event__card-header {
    font-family: "pr-b";
    font-size: 24px;
    line-height: 1.21;
    display: block; }
  .about-event__card-text {
    margin-top: 6px;
    margin-bottom: 3px; }
  .about-event__link {
    margin-top: 12px;
    display: block; }
  .about-event__button {
    margin-top: 15px;
    align-self: start;
    padding-left: 23px;
    padding-right: 23px; }
  .about-event__title {
    font-size: 45px;
    line-height: 1.09;
    font-family: "c-b";
    margin-top: 17px;
    margin-bottom: 12px;
    color: #333333; }
  .about-event__text {
    margin-top: 10px;
    padding-right: 40px;
    line-height: 1.5;
    color: #333333; }
  .about-event__links {
    margin-top: 25px; }
  .about-event__social {
    font-size: 0;
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    transition: 0.2s ease; }
    .about-event__social svg {
      width: 20px;
      height: 20px;
      text-align: center;
      position: relative;
      top: 5px; }
    .about-event__social:hover {
      opacity: 0.7; }
    .about-event__social:active {
      opacity: 0.6; }
    .about-event__social--fb svg {
      left: 3px;
      top: 7px; }
    .about-event__social--twitter svg {
      top: 8px;
      left: -2px; }
    .about-event__social--linked svg {
      top: 6px; }
  .about-event__decoration {
    max-width: 205px;
    margin-top: 90px;
    font-size: 0;
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    bottom: -1px; }

@media (max-width: 1024px) {
  .about-event {
    overflow: hidden; }
    .about-event__wrapper {
      justify-content: space-between; }
    .about-event__block:nth-child(1) {
      width: calc(50% - 20px); }
    .about-event__block:nth-child(2) {
      padding-left: 0;
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column; }
    .about-event__links {
      margin-bottom: 50px; }
    .about-event__link {
      max-width: 130px; }
    .about-event__decoration {
      margin-top: auto; }
    .about-event__card-wrapper {
      justify-content: space-between; }
    .about-event__card-item {
      width: 100%;
      max-width: initial; }
      .about-event__card-item:nth-child(1) {
        margin-right: 0;
        max-width: initial;
        width: 100%; }
      .about-event__card-item:nth-child(2) {
        margin-right: 0;
        max-width: initial;
        width: 100%; }
      .about-event__card-item:nth-child(3) {
        margin-right: 0;
        max-width: initial;
        width: 100%; } }

@media (max-width: 768px) {
  .about-event__wrapper {
    flex-wrap: wrap;
    flex-direction: column; }
  .about-event__block:nth-child(1) {
    width: 100%; }
  .about-event__block:nth-child(2) {
    width: 100%; }
  .about-event__decoration {
    align-self: flex-end;
    margin-right: 50px;
    margin-top: -50px;
    max-width: 140px; } }

@media (max-width: 425px) {
  .about-event {
    padding-top: 40px; }
    .about-event__decoration {
      margin-right: 0px;
      max-width: 110px; }
    .about-event__links {
      max-width: 250px; } }

@media (max-width: 375px) {
  .about-event__decoration {
    margin-right: 0px;
    max-width: 95px;
    margin-top: -70px; } }

@media (max-width: 320px) {
  .about-event__decoration {
    margin-right: 0px;
    margin-top: -100px;
    max-width: 84px; } }

.speaker-modal {
  border-bottom-left-radius: 50px;
  max-width: 780px;
  width: calc(100% - 40px); }
  .speaker-modal__wrapper {
    padding: 40px;
    display: flex;
    padding-bottom: 10px; }
  .speaker-modal__user {
    flex-shrink: 0;
    margin-right: 35px; }
    .speaker-modal__user:hover .team__userpic img {
      transform: scale(1.02); }
    .speaker-modal__user:active {
      transform: none;
      opacity: 1; }
  .speaker-modal__text {
    line-height: 1.33;
    padding-right: 20px;
    margin-bottom: 20px; }
  .speaker-modal__list {
    padding-left: 20px;
    padding-right: 20px; }
  .speaker-modal__link {
    font-size: 0;
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.2s ease; }
    .speaker-modal__link:hover {
      opacity: 0.7; }
    .speaker-modal__link:active {
      transform: scale(0.95);
      opacity: 0.6; }
    .speaker-modal__link svg {
      fill: #22dc9e;
      width: 18px;
      height: 18px; }

@media (max-width: 768px) {
  .speaker-modal {
    max-height: calc(100vh - 40px);
    overflow-y: auto; }
    .speaker-modal__wrapper {
      padding: 20px;
      display: flex;
      padding-bottom: 10px; } }

@media (max-width: 525px) {
  .speaker-modal__wrapper {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; }
  .speaker-modal__user {
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
    margin: 10px; }
  .speaker-modal__link {
    margin-top: 15px; }
  .speaker-modal__text {
    padding-right: 0; }
  .speaker-modal__list {
    padding-right: 0; } }

.articles {
  padding-top: 105px;
  padding-bottom: 85px; }
  .articles__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    color: #333333; }
  .articles__item {
    max-width: 348px;
    margin-right: calc((100% - 348px * 3) / 2);
    margin-bottom: 50px; }
    .articles__item:nth-child(3n + 3) {
      margin-right: 0; }
  .articles__picture {
    position: relative;
    min-height: 200px;
    overflow: hidden; }
    .articles__picture img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      max-width: initial; }
  .articles__header {
    font-size: 22px;
    line-height: 1.18;
    font-family: "g-eb";
    margin-top: 19px;
    margin-bottom: 10px;
    padding-right: 13px; }
  .articles__link {
    color: #333333;
    transition: 0.2s ease; }
    .articles__link::before {
      background-image: url("../img/raster/back-icon-grey.png"); }
    .articles__link:hover {
      color: #22dc9e; }
  .articles__button {
    padding-left: 22px;
    padding-right: 22px;
    display: block;
    margin: 0 auto;
    max-width: 165px;
    box-sizing: border-box;
    margin-top: 18px; }

.articles__link:hover:before {
  background-image: url("../img/raster/back-icon.png"); }

@media (max-width: 1200px) {
  .articles__wrapper {
    justify-content: space-between; }
  .articles__item {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 340px;
    width: 30%;
    margin-bottom: 30px; }
    .articles__item:nth-child(3n + 3) {
      margin-right: 10px;
      margin-left: 10px; } }

@media (max-width: 1024px) {
  .articles__wrapper {
    justify-content: space-around; }
  .articles__picture img {
    height: 100%;
    width: initial;
    max-width: initial; } }

@media (max-width: 1024px) {
  .articles {
    padding-top: 60px;
    padding-bottom: 40px; }
    .articles__item {
      width: calc(50% - 20px);
      max-width: 270px; } }

@media (max-width: 525px) {
  .articles__item {
    width: calc(100% - 20px);
    max-width: 340px; } }

@media (max-width: 375px) {
  .articles__item {
    width: calc(100% - 20px);
    max-width: 340px; }
  .articles__picture {
    min-height: 160px; }
    .articles__picture img {
      width: 100%;
      height: auto; } }

.agenda {
  margin-top: 130px;
  margin-bottom: 90px; }
  .agenda__header {
    margin-bottom: 44px; }
  .agenda__header-block {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    display: grid;
    grid-template-columns: 47px 220px 618px;
    grid-template-columns: 47px 24.85% 69.83%;
    padding-top: 20px;
    padding-bottom: 17.5px; }
    .agenda__header-block:hover {
      opacity: 0.8; }
    .agenda__header-block:active {
      opacity: 0.6; }
  .agenda__text-block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: grid;
    grid-template-columns: 618px;
    grid-template-columns: 68.83%;
    justify-content: end; }
  .agenda__item {
    padding-right: 35px;
    border-top: 1px solid #000000; }
  .agenda__icon {
    font-size: 0;
    width: 21px;
    height: 11px;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    opacity: 0.3;
    transition: 0.2s ease; }
    .agenda__icon::before, .agenda__icon::after {
      height: 1px;
      width: 14px;
      background-color: #000000;
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%) rotate(45deg); }
    .agenda__icon::after {
      left: 70%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .agenda .active .agenda__icon {
    transform: rotate(180deg); }
  .agenda .active .agenda__duration {
    display: block; }
  .agenda__time {
    font-size: 40px;
    line-height: 1.13;
    opacity: 0.25;
    font-family: "c-b"; }
  .agenda__title {
    font-size: 40px;
    line-height: 1.13;
    font-family: "c-b"; }
  .agenda__duration {
    font-size: 16px;
    line-height: 1.31;
    opacity: 0.25;
    font-family: "f-d";
    margin-top: 9px;
    margin-left: 3px;
    display: none; }
  .agenda__text {
    margin-top: 7px;
    margin-top: 0;
    padding-bottom: 48px;
    padding-bottom: 35px;
    position: relative;
    z-index: 1; }

@media (max-width: 768px) {
  .agenda {
    margin-top: 90px;
    margin-bottom: 60px; }
    .agenda__item {
      padding-right: 0; }
    .agenda__title {
      font-size: 32px; }
    .agenda__time {
      font-size: 32px; }
    .agenda__icon {
      margin-top: 11px; }
    .agenda__duration {
      font-size: 14px;
      margin-top: 4px; }
    .agenda__header-block {
      grid-template-columns: 40px 20% calc(100% - 40px - 20%);
      padding-right: 10px; }
    .agenda__text-block {
      grid-template-columns: calc(100% - 40px - 20%);
      padding-right: 10px; } }

@media (max-width: 525px) {
  .agenda__header-block {
    grid-template-columns: 30px 20% calc(100% - 30px - 20%);
    padding-right: 0px; }
  .agenda__text-block {
    grid-template-columns: calc(100% - 30px - 20%);
    padding-right: 0px; }
  .agenda__title {
    font-size: 24px; }
  .agenda__icon {
    margin-top: 8px; }
  .agenda__time {
    font-size: 24px; } }

@media (max-width: 425px) {
  .agenda__header-block {
    grid-template-columns: 30px 27% calc(100% - 30px - 27%);
    padding-right: 0px; }
  .agenda__text-block {
    grid-template-columns: calc(100%);
    padding-right: 0px; } }

.contact {
  margin-top: 68px; }
  .contact__wrapper {
    display: flex;
    justify-content: space-between; }
  .contact__header {
    margin-bottom: 22px; }
  .contact__form-block {
    max-width: 540px;
    width: 60%; }
  .contact__decoration {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-top: 105px; }
    .contact__decoration img,
    .contact__decoration svg {
      width: 100%;
      max-width: 107px;
      display: block;
      margin-top: auto;
      margin-right: 40px; }

@media (max-width: 768px) {
  .contact {
    margin-top: 20px; }
    .contact__form-block {
      padding-bottom: 40px; }
    .contact__decoration img {
      max-width: 70px; } }

@media (max-width: 525px) {
  .contact__form-block {
    width: 79%; }
  .contact__decoration {
    width: 20%; }
    .contact__decoration img {
      margin-right: 0; } }

@media (max-width: 425px) {
  .contact__decoration img {
    max-width: 55px; } }

@media (max-width: 375px) {
  .contact__decoration img {
    max-width: 47px; } }

@media (max-width: 320px) {
  .contact__form-block {
    width: 90%; }
  .contact__decoration img {
    max-width: 42px; } }

.form__input {
  border: none;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-top: 10.5px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.2s ease;
  outline: none;
  box-sizing: border-box; }
  .form__input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
  .form__input::placeholder {
    color: rgba(0, 0, 0, 0.5); }

.form__label {
  color: inherit;
  margin-top: 29px;
  display: block;
  position: relative;
  padding-left: 33px;
  transition: 0.2s ease; }
  .form__label a {
    color: inherit; }
  .form__label::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    transform: translateY(-50%);
    transition: 0.2s ease;
    opacity: 1;
    border-radius: 1px; }

.form__input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.form__submit {
  margin-top: 48px; }

.form__input-checkbox:checked ~ .form__label::after {
  display: block;
  content: "";
  position: absolute;
  left: 6px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #22dc9e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.2s ease; }

.article {
  margin-top: 65px;
  margin-bottom: 85px;
  color: #333333; }
  .article__wrapper {
    max-width: 730px; }
  .article__header {
    font-size: 45px;
    line-height: 1.09;
    font-family: "g-eb";
    margin-bottom: 12px; }
  .article__sub-header {
    font-size: 22px;
    line-height: 1.18;
    font-family: "g-eb";
    margin-bottom: -5px; }
  .article__publication {
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    display: block;
    margin-bottom: 24px; }
  .article__picture {
    margin-bottom: 36px;
    margin-bottom: 2.25em;
    margin-top: 24px; }
    .article__picture--mt {
      margin-top: 42px; }
  .article__picture-item {
    position: relative;
    min-height: 350px;
    overflow: hidden; }
    .article__picture-item img {
      width: 100%;
      max-width: initial;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .article__picture-caption {
    color: rgba(0, 0, 0, 0.5);
    font-family: "f-bo";
    display: block;
    margin-top: 10px; }
    .article__picture-caption a {
      color: inherit;
      transition: 0.2s ease; }
      .article__picture-caption a:hover {
        color: #22dc9e;
        opacity: 0.8; }
      .article__picture-caption a:active {
        opacity: 0.6;
        transform: scale(0.95); }
  .article__text {
    line-height: 1.5;
    margin-bottom: 24px;
    margin-bottom: 1.5em; }
    .article__text--bold {
      font-family: "f-d"; }
  .article__link {
    color: #00c08b;
    transition: 0.2s ease;
    display: inline-block; }
    .article__link:hover {
      color: #22dc9e;
      opacity: 0.8; }
    .article__link:active {
      opacity: 0.6;
      transform: scale(0.95); }
  .article__list {
    padding-left: 20px;
    margin-bottom: 24px; }
    .article__list li {
      line-height: 1.5; }

@media (max-width: 768px) {
  .article {
    margin-bottom: 50px; } }

@media (max-width: 425px) {
  .article {
    margin-bottom: 40px; }
    .article__picture-item {
      min-height: 200px; } }

@media (max-width: 320px) {
  .article {
    margin-bottom: 40px; }
    .article__picture-item {
      min-height: 170px; } }

.about-decoration {
  margin-top: 70px;
  margin-bottom: 125px;
  background-color: #ffffff; }
  .about-decoration--block-2 {
    margin-top: 98px;
    margin-bottom: 115px; }
  .about-decoration__wrapper {
    display: flex;
    background-color: #ffffff; }
  .about-decoration__img {
    flex-shrink: 0;
    max-width: 190px;
    width: 25%;
    display: flex; }
    .about-decoration__img img,
    .about-decoration__img svg {
      display: block;
      margin-top: auto;
      max-width: 98px;
      width: 100%; }
    .about-decoration__img--right {
      margin-left: auto; }
      .about-decoration__img--right img {
        margin-left: 27px; }
  .about-decoration__header {
    margin-bottom: 22px; }
  .about-decoration__text {
    line-height: 1.33;
    font-size: 16px;
    max-width: 635px;
    margin-bottom: 20px; }
  .about-decoration__button {
    margin-top: 24px;
    margin-bottom: 15px; }

@media (max-width: 768px) {
  .about-decoration {
    margin-top: 70px;
    margin-bottom: 70px; }
    .about-decoration__img {
      width: 20%; }
      .about-decoration__img--right {
        margin-left: auto; }
        .about-decoration__img--right img {
          margin-left: 21px; }
    .about-decoration--block-1 .about-decoration__wrapper {
      flex-direction: row-reverse; }
      .about-decoration--block-1 .about-decoration__wrapper img {
        margin-left: 14px; } }

@media (max-width: 425px) {
  .about-decoration {
    margin-top: 20px;
    margin-bottom: 60px; } }

@media (max-width: 320px) {
  .about-decoration__img--right img {
    margin-left: 14px; }
  .about-decoration--block-1 .about-decoration__wrapper img {
    margin-left: 14px; } }

.about-cover {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff; }
  .about-cover--left .about-cover__picture {
    border-top-right-radius: 60px; }
  .about-cover--right .about-cover__picture {
    border-top-left-radius: 60px; }
  .about-cover--right .about-cover__header {
    margin-top: 80px; }
  .about-cover--right .about-cover__wrapper {
    justify-content: flex-end; }
  .about-cover--right .about-cover__block {
    max-width: 445px; }
  .about-cover__wrapper {
    display: flex; }
  .about-cover__picture {
    min-height: 475px;
    width: 47%;
    flex-shrink: 0;
    align-self: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .about-cover__block {
    padding: 60px;
    max-width: 550px;
    background-color: #ffffff; }
  .about-cover__header {
    margin-bottom: 24px; }
  .about-cover__text {
    line-height: 1.33;
    margin-bottom: 20px; }

@media (max-width: 768px) {
  .about-cover--right .about-cover__header {
    margin-top: inherit; }
  .about-cover__wrapper {
    flex-wrap: wrap; }
  .about-cover__picture {
    width: 70%;
    order: 1;
    min-height: 300px; }
  .about-cover__block {
    width: 70%;
    order: 2;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px; } }

@media (max-width: 525px) {
  .about-cover__picture {
    width: 70%;
    min-height: 200px; }
  .about-cover__block {
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (max-width: 375px) {
  .about-cover__picture {
    width: 75%;
    min-height: 200px; }
  .about-cover__block {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px; } }

@media (max-width: 320px) {
  .about-cover__picture {
    width: 85%;
    min-height: 180px; } }

.about-text {
  background-image: url("../img/vector/about-page-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 108px;
  padding-bottom: 110px;
  margin-top: 120px;
  margin-bottom: 115px; }
  .about-text__wrapper {
    display: flex;
    justify-content: space-between; }
  .about-text__header {
    margin-bottom: 10px; }
  .about-text__text {
    width: 48%;
    line-height: 1.33; }

@media (max-width: 768px) {
  .about-text {
    padding-top: 47px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 5px; } }

@media (max-width: 525px) {
  .about-text {
    padding-top: 17px;
    padding-bottom: 30px; }
    .about-text__wrapper {
      flex-wrap: wrap; }
    .about-text__text {
      width: 100%; } }

.about-picture {
  position: relative;
  min-height: 400px;
  padding-top: 105px;
  max-width: 1440px;
  margin: 0 auto; }
  .about-picture--last {
    margin-bottom: 70px; }
  .about-picture__banner {
    min-height: 390px;
    width: 50%;
    max-width: 680px;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .about-picture__wrapper {
    display: flex; }
  .about-picture__block {
    padding: 45px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 55px;
    max-width: 760px;
    background-color: #ffffff;
    box-sizing: border-box; }
    .about-picture__block::before {
      top: 55%;
      left: 52%;
      max-width: 1200px;
      min-height: 105%;
      width: 100%; }
  .about-picture__header {
    margin-bottom: 16px;
    max-width: 600px; }
  .about-picture__text {
    max-width: 600px;
    line-height: 1.33; }
  .about-picture--left .about-picture__banner {
    border-top-right-radius: 60px;
    left: 0;
    top: 0; }
  .about-picture--left .about-picture__wrapper {
    justify-content: flex-end; }
  .about-picture--right .about-picture__banner {
    border-top-left-radius: 60px;
    top: 0;
    right: 0; }

@media (max-width: 768px) {
  .about-picture {
    padding-top: 130px;
    min-height: initial;
    margin-bottom: 60px; }
    .about-picture__banner {
      min-height: 180px;
      width: 60%; }
    .about-picture__block {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 26px; } }

@media (max-width: 525px) {
  .about-picture__banner {
    min-height: 180px;
    width: 70%; }
  .about-picture__block {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 6px; } }
