.about-section {
    margin-top: 100px;

    &__wrapper {
        display: flex;
    }

    &__block {
        width: 43%;

        &:nth-child(2) {
            width: 57%;
        }
    }

    &__header {
        max-width: 200px;
        margin-bottom: 19px;
    }

    &__text {
        max-width: 300px;
        margin-bottom: 30px;
    }

    &__card {
        padding-top: 23px;
        padding-left: 54px;
        padding-right: 24px;
        padding-bottom: 26px;
        background-color: $br-white;
        color: $tx-d-grey;
        margin-bottom: 35px;
        max-width: 395px;
        position: relative;
        border-radius: 2.4px;

        &::before {
            display: block;
            content: "";
            position: absolute;
            z-index: -1;
            width: 120%;
            height: 80%;
            max-width: 540px;
            max-height: 180px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.35;
            border-radius: 2.4px;
            -webkit-filter: blur(29px);
            filter: blur(29px);
            background-color: rgba(63, 63, 63, 0.17);
        }

        &-header {
            margin-top: 0;
            margin-bottom: 5px;
            font-family: "pr-b";
        }

        &-text {
            margin-top: 8px;
            margin-bottom: 5px;
        }

        &--1 {
            margin-top: 6px;
            margin-left: 47px;

            &::before {
                max-width: 509px;
                max-height: 224px;
                top: 65%;
                left: 55%;
            }
        }

        &--2 {
            &::before {
                top: 60%;
                left: 55%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .about-section {
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .about-section {
        margin-top: 50px;

        &__wrapper {
            flex-wrap: wrap;
        }

        &__block {
            width: 100%;

            &:nth-child(2) {
                width: 100%;
                margin-top: 30px;
            }
        }

        &__header {
            max-width: 250px;
        }

        &__text {
            max-width: 400px;
        }

        &__card {
            &--1 {
                margin-left: auto;
            }
        }
    }
}
