@font-face {
    font-family: "f-b";
    src: url("../fonts/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "f-bo";
    src: url("../fonts/FuturaPT-BookObl.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "f-d";
    src: url("../fonts/FuturaPT-Demi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "c-b";
    src: url("../fonts/Circular-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "fut-b";
    src: url("../fonts/Futura Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "pr-r";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pr-sb";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "pr-b";
    src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "g-eb";
    src: url("../fonts/gilroy-extrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}
