// br stands for Brand color
$br-mint: #22dc9e;
$br-d-mint: #00c08b;
$br-blue: #0b007b;
$br-l-blue: #afe2e3;
$br-white: #ffffff;

$tx-black: #000000;
$tx-d-grey: #333333;

// animation by hover

$anim: 0.2s ease;
